<template>
  <div class="input-group">
    <div class="input-group-area">
      <input
        type="text"
        placeholder="Enter a text"
        v-model="text"
        @change="emitInput"
        :disabled="isLoading"
      />
    </div>
    <button type="submit" class="btn" @click="$emit('submit')">🤖</button>
  </div>
</template>
<script>
export default {
  props: {
    value: String,
    loading: Boolean,
  },
  data: () => ({
    text: "",
    isLoading: false,
  }),
  mounted() {
    this.text = this.value;
  },
  methods: {
    emitInput(e) {
      this.$emit("input", e.target.value);
    },
  },
  watch: {
    text(val, oldVal) {
      // this.$refs[`"${this.value}"`].focus();
    },
    loading(val) {
      this.isLoading = val;
    },
  },
};
</script>
<style scoped>
.btn {
  background-color: grey;
  color: white;
  padding: 8px 6px;
  border: none;
  cursor: pointer;
  border-radius: 0px 8px 8px 0;
}

.btn:hover {
  background-color: black;
}
input[type="text"] {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  resize: vertical;
}
.input-group {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.input-group > div {
  display: table-cell;
}

.input-group-area {
  width: 100%;
}
:focus-visible {
  outline: none;
}
input[type="text"]:focus {
  border: 1px solid #04aa6d;
}
</style>